.cd-nav-trigger {
    display: block;
    position: fixed;
    z-index: 2;
    bottom: 30px;
    right: 5%;
}
.cd-vertical-nav {
    position: fixed;
    z-index: 1;
    right: 5%;
    bottom: 30px;
    transform: scale(0);
    transform-origin: right bottom;
    transition: transform 0.2s;
}
.cd-vertical-nav.open {
    transform: scale(1);
}
@media only screen and (min-width: 800px) {
    .cd-vertical nav {
        right: 0;
        top: 0;
        height: 100vh;
        width: 90px;
    }
}
.cd-verical-nav::before {
    /*    nav bg*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    transform: translateX(100%);
    transition: transform 0.4s;
}
